<template>
	<div>
		<!-- <input type="text" :value="msg" @input="changeMessage"> -->
		<div v-for="option in languageData.answers">
		  <input v-if="option.default === 'true'" type="radio" name="location" v-bind:value="option.answer" @click="changedSelect" checked="checked">
      <input v-else type="radio" name="location" v-bind:value="option.value" @click="changedSelect">
		  <label>{{ option.answer }}</label>
		</div>
		<br>
		<!-- <p>{{ message }}</p> -->
	</div>
</template>

<script>
export default {
  props: ['msg', 'languageData'],
  data () {
    return {
    }
  },
  methods: {
    changedSelect (event) {
      // this.message = event.target.value
      this.$emit('optionChanged', event.target.value)
    }
  }
}
</script>

<style scoped>

</style>
