<template>
	<div class="container">
    <div class="row">
    	<div class="col-md-12">
        <select @change="language = $event.target.value">
      		<option v-for="language in languages" :value="language.code">{{ language.name }}</option>
      	</select>
        <br>
        <button @click="submit" :value="language" class="btn-success">Submit</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    console.log()
    return {
      language: 'en',
      languages: '',
      languageData: []
    }
  },
  mounted: function () {
    this.getLanguages()
    this.getLanguageData()
  },
  methods: {
    submit (event) {
      // hack to replace mongodb query returning only one result
      for (let i = 0; i < this.languageData.length; i++) {
        if (this.languageData[i].code === this.language) {
          this.languageData = this.languageData[i]
        }
      }
      this.$emit('languageDataSet', this.languageData)
      this.$emit('langaugeSelectedEvent', true)
    },
    getLanguages () {
      // would normally be calling an api
      this.languages = [{'code': 'en', 'name': 'English'}, {'code': 'ru', 'name': 'Russian'}]
    },
    getLanguageData () {
      // would normally be calling an api, and only one language would be returned
      this.languageData = [{
        'qid': '0',
        'code': 'en',
        'title': 'Where is gomo\'s head office?',
        'answers': [{
          'answer': 'Brighton',
          'value': 'Correct',
          'correct': 1
        }, {
          'answer': 'Sheffield',
          'value': 'Wrong',
          'correct': 0
        }, {
          'answer': 'London',
          'value': 'Wrong',
          'correct': 0
        }],
        'submit': 'Submit',
        'correct': 'Correct',
        'try_again': 'Please try again',
        'right_answer': 'Well done, gomo\'s head office is in Brighton',
        'facts_heading': 'Facts about Brighton',
        'facts': 'Brighton is an English seaside resort town. About an hour south of London by train. It\'s a popular day-trip destination. It\'s broad shingle beach is backed by amusement arcades and Regency-era buildings. Brighton Pier, in the central waterfront section, opened in 1899 and now has rides and food kiosks.  The town is also known for it\'s nightlife, arts scene, shopping and festivals.'
      }, {
        'qid': '0',
        'code': 'ru',
        'title': 'Где головной офис гомо?',
        'answers': [{
          'answer': 'Брайтон',
          'value': 'Верный',
          'Correct': 1
        }, {
          'answer': 'Шеффилд',
          'value': 'Неправильно',
          'correct': 0
        }, {
          'answer': 'Лондон',
          'value': 'Неправильно',
          'correct': 0
        }],
        'submit': 'Отправить',
        'correct': 'Верный',
        'try_again': 'Пожалуйста, попробуйте еще раз',
        'right_answer': 'Хорошо, головной офис gomo находится в Брайтоне',
        'facts_heading': 'Факты о Брайтоне',
        'facts': 'Брайтон - английский прибрежный курортный город. Примерно в часе езды на поезде к югу от Лондона. Это популярное место для однодневных поездок. Это широкий галечный пляж опирается на аркады развлечений и регентства эпохи зданий. Брайтонский пирс, расположенный в центральной части набережной, открылся в 1899 году и теперь имеет аттракционы и продовольственные киоски. Город также известен своей ночной жизнью, искусством, магазинами и фестивалями.'
      }]
    }
  }
}

</script>

<style scoped>
  select, button{
    max-width: 200px;
    width: 80%;
    padding: .5em .8em;
    margin: 0 auto;
    margin-bottom: .2em;
    display: block;
  }
  button{
    
  }
</style>
