<template>
  <gmap-map
    :center="center"
    :zoom="4"
    style="width: 100%; height: 100%"
  >
    <gmap-marker
      v-for="m in markers"
      :position="m.position"
      :clickable="false"
      :draggable="false"
      @click="center=m.position"
    ></gmap-marker>
  </gmap-map>
</template>
 
<script>
  import * as VueGoogleMaps from 'vue2-google-maps'
  import Vue from 'vue'

  Vue.use(VueGoogleMaps, {
    load: {
      key: 'AIzaSyB7y0c-BOJsBCrTmeeKVky3TIvamBK12-I'
    }
  })

  export default {
    data () {
      return {
        center: {lat: 54.0515973, lng: -4.4028565},
        markers: [{
          position: {lat: 53.3958394, lng: -1.6395399}
        }, {
          position: {lat: 50.8375078, lng: -0.1762297}
        }, {
          position: {lat: 51.5287352, lng: 0.3818027}
        }]
      }
    }
  }
</script>
