<template>
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">

            <div class="modal-header">
              <slot name="header">
                  <h3>{{ option }}</h3>
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                <p v-if="option === languageData.correct"> {{ languageData.right_answer }} </p>
                <p v-else> {{ languageData.try_again }} </p>
              </slot>
            </div>

            <div class="modal-footer">
              <slot name="footer">
                &nbsp;
                <button class="modal-default-button" @click="$emit('close')">
                OK
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>

</template>

<script>
export default {
  props: ['option', 'languageData'],
  data () {
    return {
    }
  }
}
</script>

<style scoped>

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .0);
  transition: opacity .3s ease;
  background-color: rgba(0, 0, 0, .5);
  display: table;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  max-width: 100%;
}

.modal-container {
  width: 90%;
  max-width: 400px;
  margin: 0px auto;
  padding: 10px 20px 5px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 0px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
