<template>
	<div class="container">

		<h1>{{ languageData.title }}</h1>
    
		<div class="row">
      <div class="col-md-6 push-md-6">
        <app-map></app-map>
        <br>
      </div>
      <div class="col-md-6 pull-md-6">
        <app-input :languageData="languageData" :msg="message" @messageChanged="message = $event" @optionChanged="option = $event"></app-input>    
        <button @click="showModal = true" class="btn-success">{{ languageData.submit }}</button>
        <br>
        <br>
      </div>
    </div>
    <transition name="zoom">
      <div v-if="correctAnswer">
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div>
              <h2> {{ languageData.facts_heading }}</h2>
            </div>
            <div>
              <p> {{ languageData.facts }} </p>
            </div>
          </div>
        </div>
      </div>
    </transition>
		<app-modal :languageData="languageData" :option="option" v-if="showModal" @close="close"></app-modal>
	</div>
</template>

<script>
import Input from '@/components/Input'
import Modal from '@/components/Modal'
import GMap from '@/components/Map'

export default {
  props: ['languageData'],
  data () {
    return {
      showModal: false,
      message: 'Where is gomo\'s head office?',
      option: 'Correct',
      correctAnswer: false,
      language: '',
      data: ''
    }
  },
  mounted: function () {
    this.getLanguageFiles()
  },
  components: {
    'app-input': Input,
    'app-modal': Modal,
    'app-map': GMap
  },
  methods: {
    close () {
      this.showModal = false
      if (this.option === this.languageData.correct) {
        this.correctAnswer = true
      } else {
        this.correctAnswer = false
      }
    },
    getLanguageFiles () {
      console.log('this.language = ' + this.language)
    }
  }
}

</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
h1{
  font-family: 'Fredoka One', cursive;
  text-align: center;
  margin: 2em;
  font-size: 2em;
}
h2{
  font-size: 1.4em;
  font-weight: bold;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
p{
  -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
  -moz-columns: 100px 2; /* Firefox */
  columns: 100px 2;
}
button{
  padding: .5em 2.8em;
}
	
</style>
