<template>
  <div>
   	<app-question v-if="languageSelected" :languageData="languageData"></app-question>
    <div v-else>
	    <h1>Please select your language</h1>
    	<app-language @langaugeSelectedEvent="languageSelected = $event" @languageDataSet="languageData = $event"></app-language>
    </div>
  </div>
</template>

<script>
import Question from '@/components/Question'
import Language from '@/components/Language'
export default {
  data () {
    console.log('start')
    return {
      languageSelected: false,
      languageData: []
    }
  },
  components: {
    'app-language': Language,
    'app-question': Question
  }
}
</script>

<style scoped>
	@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
	h1{
	  font-family: 'Fredoka One', cursive;
	  text-align: center;
	  margin: 2em;
	  font-size: 2em;
	}
</style>
